@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 261 14% 10%;
    --card: 240 10% 100%;
    --card-foreground: 261 14% 10%;
    --popover: 240 10% 100%;
    --popover-foreground: 261 14% 10%;
    --primary: 255 100% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 211 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 38 92% 50%;
    --success: 142 71% 45%;
    --border: 261 14% 80%;
    --input: 261 14% 85%;
    --ring: 255 100% 67%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 261 14% 12%;
    --foreground: 0 0% 98%;
    --card: 261 14% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 261 14% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 255 100% 67%;
    --primary-foreground: 261 14% 15%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 211 100% 82%;
    --accent-foreground: 211 100% 20%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --warning: 38 92% 50%;
    --success: 142 71% 45%;
    --border: 255 100% 77% / 0.2;
    --input: 261 14% 22%;
    --ring: 255 100% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    background-image: radial-gradient(at 27% 37%, hsl(var(--primary) / 0.1), transparent 0),
                      radial-gradient(at 97% 21%, hsl(var(--accent) / 0.1), transparent 50%),
                      radial-gradient(at 52% 99%, hsl(var(--primary) / 0.1), transparent 50%),
                      radial-gradient(at 10% 29%, hsl(var(--accent) / 0.1), transparent 50%),
                      radial-gradient(at 97% 96%, hsl(var(--primary) / 0.1), transparent 50%),
                      radial-gradient(at 33% 50%, hsl(var(--accent) / 0.1), transparent 50%),
                      radial-gradient(at 79% 53%, hsl(var(--primary) / 0.1), transparent 50%);
    background-attachment: fixed;
  }
  .recharts-pie-label-text {
    fill: hsl(var(--foreground));
  }
  .recharts-legend-item {
    color: hsl(var(--foreground)) !important;
  }
}
